<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="brailleReader" type="_20131211.ConfigurationSectionHandler, 20131211" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <brailleReader configured="true" />
</configuration>